<%- contentFor('main') %>
<h1 class="display-4">Chiqo Rifky Saputra</h1>
<p>Fullstack Software Engineer</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum labore nesciunt libero sequi aliquam repellat pariatur voluptas deleniti, rem totam possimus nobis neque aperiam. Aut inventore cum dolor reiciendis veniam.</p>
<img src="img/foto.jpg" alt="foto" class="img-thumbnail" width="200px">